* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(58, 58, 58);
}

nav ul {
    list-style: none;
    display: flex;
    height: 2.5em;
    padding: 0.5em;
}

nav li {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    line-height: 1em;
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: rgb(216, 216, 216);
}

nav li:last-of-type {
    margin-left: 80%;
}

nav a:hover {
    text-decoration: underline;
}

body {
    background-color: #242525;
    color: white;
    position: relative;
    font-family: 'Lato', sans-serif;
}

main {
    background-image: url("../images/background.jpg");
    /*image source: Sabri Tuzcu on Unsplash - https://unsplash.com/photos/Xi2aqNQB5P8  */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}

.main h1 {
    font-family: 'Thasadith', sans-serif;
    font-size: 2.8em;
    text-align: center;
    padding-top: 2em;
}

.main form {
    text-align: left;
    width: 30%;
    display: grid;
    flex-direction: row;
    margin-left: 0.5em;
    background-color: rgba(228, 228, 228, 0.6);
    position: absolute;
    margin-top: 6em;
    left: 35%;
    padding: 1em;
    border-radius: 1em;
}

.main form label {
    padding-bottom: 0.2em;
    font-size: 1em;
    color: rgb(32, 32, 32);
}

form input[type=text],
form select {
    padding: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 1em;
    border-radius: 0.6em;
    border: 0em;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    appearance: none;
}

form input[type=submit] {
    padding: 0.5em;
    border: 0em;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 0.6em;
    background-color: rgb(90, 109, 194);
    color: white;
}

.profile h1 {
    font-size: 2em;
    padding-top: 0.5em;
    padding-left: 2.5em;
    padding-bottom: 0.5em;
}

.profile section:first-of-type {
    display: grid;
    grid-template-columns: 12em 1fr;
    padding: 1em;
    margin-right: 5em;
    margin-left: 5em;
    background-color: rgba(172, 172, 172, 0.6);
}

.profile section:first-of-type img {
    max-width: 10em;
    grid-row-start: span 6;
}

.profile section:nth-of-type(2) {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 12em 1fr;
    padding: 1em;
    margin-right: 5em;
    margin-left: 5em;
    background-color: rgba(172, 172, 172, 0.6);
}

.profile form button {
    padding: 0.5em;
    border: 0em;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 0.6em;
    background-color: rgb(90, 109, 194);
    color: white;
    margin-top: 1em;
    width: 5em;
    right: 6em;
    position: absolute;
}

.profile form input[type=text] {
    width: 25em;
    height: 1.7em;
}

.profile form input[type=submit] {
    position: absolute;
    left: 48%;
    margin-top: 2em;
}