<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>

<body>
    <h1>My profile</h1>
</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>

</html>