<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <h1>User who also plays
        <%= data.game %> on
            <%= data.platform %>, and is ranked
                <%= data.rank %>
    </h1>

</body>

</html>